@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.frase {
    font-family: 'Parisienne', cursive;
}

:root {
    --firstColor: #cd0043;
    --secondColor: #050202;
    --white: #f9f8f8;
}
::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html {
    scroll-padding: 70px;
}

.bg-primary {
    background-color: var(--firstColor)!important;
}
.btn-primary {
    background-color: var(--firstColor)!important;
    border: none;
}
.btn-secondary{
    background-color: var(--secondColor)!important;
    border: none;
}

.bg-img {
    background-image: url("../img/vino_mesa_newsletter.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-width {
    max-width: 14rem;
}

.h-500px {
    height: 500px!important;
}
.h-400px {
    height: 400px!important;
}

.text-shadow {
    text-shadow: 5px 5px 5px black;
}

.object-fit-cover{
    object-fit: cover!important;
}
.vh-50 {
    min-height: 50vh;
}
.start-50 {
    left: 44%!important;
}