@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.frase {
    font-family: 'Parisienne', cursive;
}

:root {
    --firstColor: #cd0043;
    --secondColor: #050202;
    --white: #f9f8f8;
}
::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

html {
    scroll-padding: 70px;
}

.bg-primary {
    background-color: var(--firstColor)!important;
}
.btn-primary {
    background-color: var(--firstColor)!important;
    border: none;
}
.btn-secondary{
    background-color: var(--secondColor)!important;
    border: none;
}

.bg-img {
    background-image: url("../img/vino_mesa_newsletter.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-check-input:checked {
    background-color: var(--firstColor);
    border: var(--firstColor);
}

.card-width {
    max-width: 14rem;
}

.h-500px {
    height: 500px!important;
}
.h-400px {
    height: 400px!important;
}

.text-shadow {
    text-shadow: 5px 5px 5px black;
}

.object-fit-cover{
    object-fit: cover!important;
}
.vh-50 {
    min-height: 50vh;
}
.start-50 {
    left: 44%!important;
}

.h-600px {
    min-height: 637px!important;
}

input[type="search"]:focus, 
input[type="checkbox"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
#sesion button:focus
{
    border-color: var(--firstColor)!important;
    box-shadow: 1px 1px 5px var(--firstColor)!important;
    outline: var(--firstColor)!important;
}

/* removing "X" from input search

PD:look up for a real solution to clean the input and modify the cards, 
because it's not working */

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }